<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row >
      <ion-title class="ion-text-center" >Registrar Cuenta</ion-title>
      <ion-col size="10" >

        <ion-item  >
          <ion-label position="stacked" >Correo</ion-label>
          <ion-input ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked"  >Nombre</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" >Clave</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Repetir clave</ion-label>
            <ion-input></ion-input>
        </ion-item>


          <ion-button expand="full" color="danger">Registrar Cuenta</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>






</ion-content>
