<ion-header >
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row >
      <ion-title class="ion-text-center" id="titulo" >Registrar Secreto</ion-title>
      <ion-col size="12" >
        <form (submit)="regitrarSecreto()" id="elementos">
          <ion-item >
            <ion-label position="stacked" >Titulo</ion-label>
            <ion-input required type="text" [(ngModel)]="secreto.titulo" [ngModelOptions]="{standalone: true}" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked"  >Descripcion</ion-label>
            <ion-input required type="text"[(ngModel)]="secreto.descripcion" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" >Valor Monetario</ion-label>
            <ion-input type="number" [(ngModel)]="secreto.valor_monetario" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="stacked">Fecha</ion-label>
              <ion-input type="date" [(ngModel)]="secreto.fecha" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Lugar</ion-label>
            <ion-input type="text" [(ngModel)]="secreto.lugar" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked" >Latitud y Longitud</ion-label>
            <ion-input type="number" [(ngModel)]="secreto.latylng" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>

            <ion-button type="submit" expand="full" color="danger">Registrar</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>






</ion-content>
