

  <ion-card >
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{secre.titulo}}</ion-card-title>
      
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="folder-open-outline"></ion-icon>
      <strong> Descripcion: </strong>
      {{secre.descripcion}}
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="cash-outline"></ion-icon>
      <strong> Valor Monetario: </strong>
      {{secre.valor_monetario}}
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="calendar-outline"></ion-icon>
      <strong> Fecha: </strong>
      {{secre.fecha}}
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="calendar-outline"></ion-icon>
      <strong> Lugar: </strong>
      {{secre.lugar}}
    </ion-card-content>

    <ion-card-content>
      <ion-icon name="compass-outline"></ion-icon>
      <strong> Latitud y Longitud: </strong>
      {{secre.latylng}}
    </ion-card-content>

    <ion-card-content >
        <ion-button color="danger" (click)="Borrar(secre.id)" >
          Delete
        </ion-button>
    </ion-card-content>
  </ion-card>





<!-- </ion-content>
<p class="card-text"><strong>Descripcion: </strong>{{secre.descripcion}}</p>
<p class="card-text"><strong>Valor Monetario: </strong>{{secre.valor_monetario}}</p>
<p class="card-text"><strong>Fecha: </strong>{{secre.fecha}}</p>
<p class="card-text"><strong>Lugar: </strong>{{secre.lugar}}</p>
<p class="card-text"><strong>Lat y Lng: </strong>{{secre.latylng}}</p> -->