<ion-header>
  <ion-toolbar>
      <ion-title >todosecretos</ion-title>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="globe"></ion-icon>
          </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="secret.length === 0; else listasecretos">
  No hay secretos socio
</ng-container>

<ng-template #listasecretos>


      <div class="ion-padding-top" *ngFor="let sec of secret">
        
            <app-secretoindividual [secre]="sec" (borrar)="delete($event)"></app-secretoindividual>
          
        
      </div>


</ng-template>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="registrarCuenta()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


    <!-- <div class="col-3" *ngFor="let sec of secret">
      <app-secretocard [secre]="sec" (borrar)="delete($event)"></app-secretocard>
    </div> -->
