<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row  class="ion-margin-top" >
      <ion-title class="ion-text-center">Loggin</ion-title>
      <ion-col size="12"  class="" >
        <div>
          <form (submit)="logginUser()" id="elementos">
              <ion-item>
                <ion-label  position="stacked" >Correo</ion-label>
                <ion-input required type="email" class="text-input"  [(ngModel)]="user.correo" [ngModelOptions]="{standalone: true}" ></ion-input>
              </ion-item>

              <ion-item >
                <ion-label position="stacked" >Clave</ion-label>
                <ion-input required type="password" [(ngModel)]="user.clave" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-item>


                <ion-button expand="full" type="submit" color="danger">Loggin</ion-button>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>






</ion-content>
